<html lang='en'>
    <head>
        <meta charset = 'UTF-8'>
        <meta name = 'viewport' content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css">
        <title>Document</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Sign Out</a></li>
            </ul>
        </nav>
        <h1>Welcome, Admin</h1>
        <form action="/auth/admin" method="POST">
            <p>Input user id to delete</p>
            <label for="ID"><b>ID</b></label>
            <input type="text" placeholder="Enter ID" name="id" required>
            <div class="submit">
                <button type="submit" class="signupbtn">Delete</button>
            </div>
        </form>

        <!--<%= if message {%>
            <h4><%= message%></h4>
        <% }%>-->
    </body>